/* src/theme.css */



body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* Optional Bootstrap override */
  body.dark .card {
    background-color: #1e1e1e;
    color: white;
  }
  
  body.light .card {
    background-color: white;
    color: black;
  }
  